n8n_data/
.env

/backend-n8n-adote-um-gatinho/.env
/backend-n8n-adote-um-gatinho/database.sqlite
/backend-n8n-adote-um-gatinho/encryption.key
/backend-n8n-adote-um-gatinho/security/encryption.key
/backend-n8n-adote-um-gatinho/node_modules
/backend-n8n-adote-um-gatinho/*.log
/backend-n8n-adote-um-gatinho/config.json
/backend-n8n-adote-um-gatinho/config.js